.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.chart {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 1fr);
}

.spring {
  background-color: green;
  display: inline-block;
  width: 30px;
  height: 30px;
  clip-path: circle(50%);
}

.summer {
  clip-path: circle(50%);
  display: inline-block;
  background-color: yellow;
  width: 30px;
  height: 30px;
}

.fall {
  clip-path: circle(50%);
  display: inline-block;
  background-color: orange;
  width: 30px;
  height: 30px;
}

.winter {
  display: inline-block;
  clip-path: circle(50%);
  background-color: blue;
  width: 30px;
  height: 30px;
}
